@font-face {
    font-family: probandofuente;
    src: url(./fuentes/BebasNeue-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --colorPrincipal: #d4d4d5;
    --colorSecundario: #7ea9c2;
    --colorFuente: #3b4655;
    --colorSubtitulos: #62879d;
    --tamañoFuente: 18px;
    --espacioLineas: 24px;
}
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: var(--colorPrincipal);
    color: var(--colorFuente);
}

/** ----------sección navegación---------- **/

.navegacion {
    background-color: var(--colorSecundario);
    padding: 20px;
    display: flex;
}

.nav {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.enlaces-nav {
    justify-content: center;
    text-decoration: none;
    color: antiquewhite;
    font-weight: normal;
    margin-left: 30px;

}

.logo-montaña {
    font-size: 30px;
    color: antiquewhite;
}

/** ----------sección presentación---------- **/

.fondoPrincipal {
    background-image: url(./assets/bariloche-fondo-principal.jpeg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulosCabecera {
    font-size: 4rem;
    color: white;
    font-weight: 200;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.572);
    font-family: probandofuente;
}

/** ----------artículo de información---------- **/

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #b1c7cf;
    color: var(--colorFuente);
}

#sobreBariloche {
    margin: 20px;
    font-size: 30px;
    color: var(--colorSubtitulos);
}

.boton {
    text-decoration: none;
    color: var(--colorFuente);
    background-color: var(--colorSecundario);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/** ----------sección sobre Bariloche---------- **/

.fondoSobreBariloche {
    background-image: url(./assets/bariloche-cerro-campanario2.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreBariloche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.fotosBariloche {
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #00000066;
    margin: 20px;
}

.parrafos-informacion {
    font-size: var(--tamañoFuente);
    line-height: var(--espacioLineas);
    margin: 10px 200px;
    text-align: start;
    color: var(--colorFuente);
}

strong {
    color: #62879d;
}


/** ----------sección lugares---------- **/

.subtitulos {
    text-align: center;
    margin: 50px 0px 20px;
}

.lugares {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.tarjeta {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 28px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.cerro-campanario {
    background: url(./assets/bariloche-cerro-campanario2.jpg) 
    top center/cover;
}

.cerro-tronador {
    background: url(./assets/bariloche-cerro-tronador.jpeg) top center/cover;
}

.ventisquero-negro {
    background: url(./assets/ventisquero-negro.jpeg) top center/cover;
}

.cerro-llaollao {
    background: url(./assets/bariloche-cerro-llaollao.jpeg) top center/cover;
}

.playa-bonita {
    background: url(./assets/playa-bonita.jpeg) top center/cover;
}

.pampa-linda {
    background: url(./assets/pampa-linda.jpeg) top center/cover;
}

.contenido-tarjeta {
    position: relative;
    padding: 20px;
    background-color:#b1c7cf;
    border-top-left-radius: 20px;
    cursor: pointer;
    transform: translateY(75%);
    transition: transform 0.3%;
}

.contenido-tarjeta::before {
    content: '';
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    box-shadow: inset -48px -48px #b1c7cf;
}

.contenido-tarjeta:hover {
    transform: translateY(0);

}

.titulo-tarjeta {
    padding-bottom: 20px;
}

.parrafos-tarjetas {
    font-size: var(--tamañoFuente);
    color: var(--colorFuente);
    line-height: var(--espacioLineas);
}

.enlaces {
    text-decoration: none;
    color: var(--colorFuente);
}

/** ----------sección cerro campanario---------- **/

.fondoCerroCampanario {
    background-image: url(./assets/cerro-campanario1.jpeg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacionGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.mapas { 
    margin: 20px;
    margin-bottom: 40px;
}

/** ----------sección cerro tronador---------- **/

.fondoCerroTronador {
    background-image: url(./assets/bariloche-cerro-tronador.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -100px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** ----------sección cerro llaollao---------- **/

.fondoCerroLlaoLlao {
    background-image: url(./assets/bariloche-cerro-llaollao.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** ----------sección formulario---------- **/

.formulario {
    display: flex;
    justify-content: center;
    height: 350px;
}

.contactanos {
    margin: 50px 0px 20px;
    font-size: 15px;
    text-align: center;
    color: var(--colorFuente)
}

.labels {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

textarea {
    width: 200px;
}

.inputs {
    border-radius: 10px;
    margin: 5px;
    border: 3px solid var(--colorFuente);
}

.comentario {
    display: flex;
}

.boton-formulario {
    border: none;
    font-size: 14px;
}

/** ----------seccion footer---------- **/

footer {
    background-color: var(--colorSecundario);
    padding: 30px;
    color: antiquewhite;
    font-size: 13px;
}

