@font-face {
    font-family: probandofuente;
    src: url(./fuentes/BebasNeue-Regular.ttf);
}

:root {
    --colorPrincipal: #d4d4d5;
    --colorSecundario: #7ea9c2;
    --colorFuente: #3b4655;
    --colorSubtitulos: #62879d;
    --tamañoFuente: 18px;
    --espacioLineas: 24px;
}
 
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--colorPrincipal);
}

/** ----------sección navegación---------- **/

.navegacion {
    background-color: #7ea9c2;
    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 4px #00000066;
}

.nav {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.enlace {
    justify-content: center;
    text-decoration: none;
    color: antiquewhite;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 30px;
}

.logo-montaña {
    font-size: 30px;
    color: antiquewhite;
}

/** ----------sección presentación---------- **/

.titulosCabecera {
    margin: 0px 0px 0px 13px;
    padding: 30px 0px 0px 0px;
    font-size: 4rem;
    text-align: center;
    color: white;
    font-weight: 200;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.572);
    font-family: probandofuente;
}

.fondoPrincipal {
    background-image: url(./assets/bariloche-fondo-principal.jpeg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -200px;
    padding: 160px;
    }

/** ----------artículo de información---------- **/

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #b1c7cf;
    color: var(--colorFuente);
}

#sobreBariloche {
    margin: 20px;
    font-size: 30px;
    color: var(--colorSubtitulos);
}

#link-saber-mas {
    text-decoration: none;
    color: var(--colorFuente);
}

/** ----------sección lugares---------- **/

.subtitulos {
    text-align: center;
    margin: 50px 0px 20px;
}

.lugares {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}

.tarjeta {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 28px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.cerro-campanario {
    background: url(./assets/bariloche-cerro-campanario2.jpg) 
    top center/cover;
}

.cerro-catedral {
    background: url(./assets/bariloche-cerro-catedral.jpg) top center/cover;
}

.cerro-otto {
    background: url(./assets/bariloche-cerro-otto.jpeg) top center/cover;
}

.cerro-tronador {
    background: url(./assets/bariloche-cerro-tronador.jpeg) top center/cover;
}

.ventisquero-negro {
    background: url(./assets/ventisquero-negro.jpeg) top center/cover;
}

.cerro-llaollao {
    background: url(./assets/bariloche-cerro-llaollao.jpeg) top center/cover;
}

.playa-bonita {
    background: url(./assets/playa-bonita.jpeg) top center/cover;
}

.pampa-linda {
    background: url(./assets/pampa-linda.jpeg) top center/cover;
}

.colonia-suiza {
    background: url(./assets/colonia-suizajpg.jpg) top center/cover;
}

.contenido-tarjeta {
    position: relative;
    padding: 20px;
    background-color:#b1c7cf;
    border-top-left-radius: 20px;
    cursor: pointer;
    transform: translateY(70%);
    transition: transform 0.3%;
}

.contenido-tarjeta::before {
    content: '';
    position: absolute;
    top: -52px;
    right: -48px;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    box-shadow: inset -48px -48px #b1c7cf;
}

.contenido-tarjeta:hover {
    transform: translateY(0);

}

.titulo-tarjeta {
    font-weight: normal;
    padding-bottom: 20px;
}

.parrafos {
    font-size: var(--tamañoFuente);
    color: var(--colorFuente);
    line-height: var(--espacioLineas);
}

/** ----------sección sobre Bariloche---------- **/

.fondoSobreBariloche {
    background-image: url(/assets/bariloche-cerro-campanario2.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center -400px;
    padding: 200px;
}

.sobreBariloche {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.fotosBariloche {
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #00000066;
    margin: 20px;
}

.parrafosSobreBariloche {
    font-size: var(--tamañoFuente);
    line-height: var(--espacioLineas);
    margin: 5px 200px;
    text-align: start;
    color: var(--colorFuente);
}

strong {
    color: #62879d;
}

/** ----------sección formulario---------- **/

.formulario {
    display: flex;
    justify-content: center;
}

.contactanos {
    margin: 50px 0px 20px;
    font-size: 15px;
    text-align: center;
    color: BFC0C0;
}

.labels {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

textarea {
    width: 200px;
}

.inputs {
    border-radius: 10px;
    margin: 5px;
    border: 3px solid #2D3142;
}

.comentario {
    display: flex;
}

/** ----------seccion footer---------- **/

footer {
    background-color: #5a6a80;
    padding: 20px;
    box-shadow: 2px 2px 4px #00000066;
    color: antiquewhite;
}
